<header class="header">
    <div class="left-header">
      <div class="logo"><a href="/"><img src="/icons/headphones.png"></a></div>

      <div class="title"><a href="/">Paradoxio</a></div>
    </div>

    <div class="right-header">
      <div class="search-bar">
        <form action="">
          <input type="text" class="search-box" placeholder="Search" />
        </form>
      </div>


      <div class="profile-icon">
        <a
          <% if(locals.user){ %>  
            href="/users/profile/"
          <% }else{ %>
            href="/users/sign-in/"
          <% } %>  
          >
          <i class="fa-solid fa-user"></i>
          <h6>
            <% if(locals.user){ %>  
              Profile
            <% }else{ %>
                SignIn
            <% } %> 
          </h6>
          </a>
      </div>

      <% if(locals.user){ %> 
        <div class="sign-out-icon">
          <a href="/users/sign-out/">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <h6>Logout</h6>
          </a>
        </div>
      <% } %> 


    </div>
  </header>