<header class="header">
    <div class="left-header">
      <div class="logo"><a href="./music_player.html"><img src="/icons/headphones.png"></a></div>

      <div class="favourites-col"><a href="#">My Favourites</a></div>
    </div>

    <div class="right-header">
      <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <form action="">
          <input type="text" class="search-box" placeholder="Search" />
        </form>
        <i class="fa-solid fa-microphone"></i>
      </div>


      <div class="profile-icon">
        <a
          <% if(locals.user){ %>  
            href="/users/profile/"
          <% }else{ %>
            href="/users/sign-in/"
          <% } %>  
          >
          <i class="fa-solid fa-user"></i>
          </a>
      </div>

      <% if(locals.user){ %> 
        <div class="sign-out-icon">
          <a href="/users/sign-out/">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </a>
        </div>
      <% } %> 


    </div>
  </header>