
<body>

    <!-- **************************** -->
    <div id="song-template">
        <div class="song">
            <div class="song-info">
                <div class="song-image"></i><i class="fa-solid fa-circle-play"></i>
                    <i class="fa-solid fa-circle-pause"></i></div>
                <div class="song-details">
                    <div class="song-name">
                        Faded
                    </div>
                    <div class="song-artists">
                        Song Artists
                    </div>
                </div>

            </div>

            <div class="song-options">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <!-- ************************************** -->

    <div class="container">
        <main class="main">
            <div class="album-description" id="<%= album %>">
                <!-- <div class="album-image"></div>
                <div class="album-content">
                    <div class="showcase-heading">
                        <h3>Alan Walker</h3>
                    </div>
                    <p>Alan Olav Walker (born 24 August 1997), formerly known by his stage name DJ Walkzz, is a
                        Norwegian record producer and DJ. He is best known for his 2015 single "Faded", which received
                        platinum certifications in over 10 different countries. He is ranked 17th on DJ Mag's Top 100
                        DJs list of 2017, placing 38 positions higher than the previous year</p>
                </div> -->
            </div>

            <div class="song-list" id="song-container">
                <!-- <div class="song faded" id="song-faded">
                    <div class="song-info">
                        <div class="song-image"><i class="fa-solid fa-circle-play"></i>
                            <i class="fa-solid fa-circle-pause"></i></div>
                        <div class="song-details">
                            <div class="song-name">
                                Faded
                            </div>
                            <div class="song-artists">
                                Song Artists
                            </div>
                        </div>

                    </div>

                    <div class="song-options">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div> -->
                <!-- <div class="song alone">
                    <div class="song-info">
                        <div class="song-image"><i class="fa-solid fa-circle-play"></i>
                            <i class="fa-solid fa-circle-pause"></i></div>
                        <div class="song-details">
                            <div class="song-name">
                                Faded
                            </div>
                            <div class="song-artists">
                                Song Artists
                            </div>
                        </div>
                    </div>

                    <div class="song-options">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="song sing-me-to-sleep">
                    <div class="song-info">
                        <div class="song-image"><i class="fa-solid fa-circle-play"></i>
                            <i class="fa-solid fa-circle-pause"></i></div>
                        <div class="song-details">
                            <div class="song-name">
                                Faded
                            </div>
                            <div class="song-artists">
                                Song Artists
                            </div>
                        </div>
                    </div>

                    <div class="song-options">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="song on-my-way">
                    <div class="song-info">
                        <div class="song-image"><i class="fa-solid fa-circle-play"></i>
                            <i class="fa-solid fa-circle-pause"></i></div>
                        <div class="song-details">
                            <div class="song-name">
                                Faded
                            </div>
                            <div class="song-artists">
                                Song Artists
                            </div>
                        </div>
                    </div>

                    <div class="song-options">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="song darkside">
                    <div class="song-info">
                        <div class="song-image"><i class="fa-solid fa-circle-play"></i>
                            <i class="fa-solid fa-circle-pause"></i></div>
                        <div class="song-details">
                            <div class="song-name">
                                Faded
                            </div>
                            <div class="song-artists">
                                Song Artists
                            </div>
                        </div>
                    </div>

                    <div class="song-options">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="song all-falls-down">
                    <div class="song-info">
                        <div class="song-image"><i class="fa-solid fa-circle-play"></i>
                            <i class="fa-solid fa-circle-pause"></i></div>
                        <div class="song-details">
                            <div class="song-name">
                                Faded
                            </div>
                            <div class="song-artists">
                                Song Artists
                            </div>
                        </div>
                    </div>

                    <div class="song-options">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="song diamond-heart">
                    <div class="song-info">
                        <div class="song-image"><i class="fa-solid fa-circle-play"></i>
                            <i class="fa-solid fa-circle-pause"></i></div>
                        <div class="song-details">
                            <div class="song-name">
                                Faded
                            </div>
                            <div class="song-artists">
                                Song Artists
                            </div>
                        </div>
                    </div>

                    <div class="song-options">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="song different-world">
                    <div class="song-info">
                        <div class="song-image"><i class="fa-solid fa-circle-play"></i>
                            <i class="fa-solid fa-circle-pause"></i></div>
                        <div class="song-details">
                            <div class="song-name">
                                Faded
                            </div>
                            <div class="song-artists">
                                Song Artists
                            </div>
                        </div>
                    </div>

                    <div class="song-options">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="song lost-control">
                    <div class="song-info">
                        <div class="song-image"><i class="fa-solid fa-circle-play"></i>
                            <i class="fa-solid fa-circle-pause"></i></div>
                        <div class="song-details">
                            <div class="song-name">
                                Faded
                            </div>
                            <div class="song-artists">
                                Song Artists
                            </div>
                        </div>
                    </div>

                    <div class="song-options">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="song heading-home">
                    <div class="song-info">
                        <div class="song-image"><i class="fa-solid fa-circle-play"></i>
                            <i class="fa-solid fa-circle-pause"></i></div>
                        <div class="song-details">
                            <div class="song-name">
                                Faded
                            </div>
                            <div class="song-artists">
                                Song Artists
                            </div>
                        </div>
                    </div>

                    <div class="song-options">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div> -->

            </div>

        </main>

        <div class="bottom-player">

            <div class="song-playing">
                <div class="song-image"></div>
                <div class="song-details">
                    <div class="song-name">
                        Faded
                    </div>
                    <div class="song-artists">
                        Song Artists
                    </div>
                </div>
            </div>


            <div class="player-controls">
                <i class="fa fa-step-backward"></i>
                <div class="play-pause">
                    <i class="fa-solid fa-circle-play"></i>
                    <i class="fa-solid fa-circle-pause"></i>
                </div>
                <i class="fa fa-step-forward"></i>
            </div>


            <div class="player-options">
                <div class="current-time">00:00</div>
                <p>/</p>
                <div class="song-duration">00:00</div>
                <div class="volume">
                    <i class="fa fa-volume-up"></i>
                    <input class="volume-slider" type="range" value="50" min="0" max="100">
                </div>
            </div>

            <input class="time-slider" type="range" value="0" min="0" max="100">
        </div>

        <aside class="aside">
            <div class="aside-content">

                <div class="similar-artists">

                    <div class="showcase-heading">
                        <h3>Similar-Artists</h3>
                    </div>

                    <div class="similar-artists-content">

                        <!-- <div class="song faded">
                            <div class="song-info">
                                <div class="song-num">
                                    <p>01</p>
                                </div>
                                <div class="song-image"><i class="fa-solid fa-circle-play"></i>
                <i class="fa-solid fa-circle-pause"></i></div>
                                <div class="song-name">
                                    Faded
                                </div>
                            </div>

                            <div class="song-options">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                        </div>

                         -->



                    </div>
                </div>


                <div class="recently-played">

                    <div class="showcase-heading">
                        <h3>Recently-Played</h3>
                    </div>

                    <div class="recently-played-content">

                        <!-- <div class="song faded">
                            <div class="song-info">
                                <div class="song-num">
                                    <p>01</p>
                                </div>
                                <div class="song-image"><i class="fa-solid fa-circle-play"></i>
                <i class="fa-solid fa-circle-pause"></i></div>
                                <div class="song-name">
                                    Faded
                                </div>
                            </div>

                            <div class="song-options">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                        </div>

                         -->

                    </div>

                </div>

            </div>

        </aside>
    </div>
    <script src="/js/script.js"></script>
    <script src="/js/ajax_req.js"></script>
</body>

</html>