<link rel="stylesheet" href="/css/profile.css">

<div class="container">
    <main class="main">
        <div class="welcome">
            <h1 class="title">Welcome to</h1>
            <h1 class="title">Paradoxio</h1>
        </div>

        <div class="profile-container">
            <form class="form" action="/users/create-session" method="post">
                <!-- Credentials input -->
                <div class="sign-in">
                    <label>Email or Username</label>
                    <input type="email" name="email" placeholder="Email/Username" required>
                </div>
                <div class="sign-in">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Your Password" required>
                </div>
                <div class="primary-btn">
                    <button>Sign in</button>
                    <div class="message">
                        <% if(flash.error && flash.error.length > 0){ %> 
                            <p>
                                <%= flash.error %> 
                            </p>
                        <% } %> 
                    </div>
                </div>
            </form>
            <h3>New Here ?</h3>
            <hr class="bar">
            <a href="/users/sign-up" class="secondary-btn">
                Create new account
            </a>
        </div>
        
        <footer>
            <hr >
            <span>Paradoxio Copyright &copy; 2021, All Rights Reserved | </span><span><a
                    href="https://github.com/anmol438/Music-Player-2.0.git"><i class="fa fa-github"
                        aria-hidden="true"></i></a></span>
        </footer>
    </main>
    <aside class="aside">
    </aside>
</div>