<div id="sign-up" style="margin: 100px;">
    <form action="/users/create" method="post">
        <input type="email" name="email" placeholder="Email-Id" required>
        <input type="name" name="name" placeholder="Name" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <input type="submit" value="Sign Up">
    </form>
</div>

<div>
    <a href="/users/sign-in">
        Already have an account? 
        <button>Sign Up</button>
    </a>
</div>