/* Alan Walker */

.album-description {
  /* border: 1px solid red; */
  height: 280px;
  width: 100%;
  min-height: 200px;
  /* background-color: #1b205ee6; */
  background-color: var(--theme-color6);
  margin: 10px 0px;
  overflow: hidden;
  box-shadow: 0px 0px 30px 10px var(--theme-color6);

  display: flex;
}

.album-image {
  /* border: 1px solid red; */
  width: 280px;
  min-width: 280px;
  height: 100%;

  /* display: inline-block; */
  background-image: linear-gradient(transparent, transparent, #1b205ee6 120%), url(/images/album-thumbnail/alan-walker.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  /* flex-shrink: 0; */
  opacity: 0.8;
  overflow: visible;
}

.album-image:hover {
  /* color: #255784; */
  /* background: #2196f3; */
  box-shadow: 0px 0px 10px #2196f3, 0px 0px 40px #2196f3, 0px 0px 10px #2196f3, 0px 0px 10px #2196f3;
}

.album-content {
  /* border: 1px solid red; */
  height: 100%;
  width: 75%;
  padding: 0px 5%;
  /* display: inline-block; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.song-list {
  /* border: 1px solid red; */
  /* height: 50vh; */
  /* width: 100%; */
  margin: 10px 0px;

}

.song {
  /* border: 1px solid black; */
  /* height: 80px; */
  height: 70px;
  width: 100%;
  margin: 10px 0px;
  /* background-color: #272c58e6; */
  background-color: var(--theme-color11);
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  transition: 0.5s;

}

.song:hover {
  /* color: #255784; */
  /* background: #2196f3; */
  box-shadow: 0px 0px 10px #2196f3, 0px 0px 40px #2196f3, 0px 0px 10px #2196f3, 0px 0px 10px #2196f3;
}

.song-info {
  /* border: 1px solid red; */
  /* height: 100%; */
  width: 70%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
}


.song-image {
  /* border: 1px solid red; */
  height: 55px;
  width: 55px;
  background-image: url(/images/album-thumbnail/alan-walker.jpeg);
  background-size: contain;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.song .fa-circle-play,
.song .fa-circle-pause {
  opacity: 0;
  transition: all 0.3s;
}

.song .fa-circle-pause {
  display: none;
}

.song .song-info:hover .song-image {
  background-image: linear-gradient(to top, black, transparent), url(/images/album-thumbnail/alan-walker.jpeg);
  transition: all 2s;
}

.song .song-info:hover .fa-circle-play {
  opacity: 1;
  transition: all 0.5s;
}


/* display-icon added dynamically using js */
.playing .song-image{ 
  background-image: linear-gradient(to top, black, transparent), url(/images/album-thumbnail/alan-walker.jpeg);
}
.playing .fa-circle-play{
  display: none;
  opacity: 1;
}
.playing .fa-circle-pause{
  display: none;
  opacity: 1;
}

.song-details{
  /* border: 1px solid black; */
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;

  position: relative;
}

.song-list .song-details{
  width: 90%;
}


.song-list .song-name {
  /* border: 1px solid red; */
  /* padding-top: 20px; */
}

.song-artists{
  display: none;
}

.song-list .song-artists{
  display: block;
  /* border: 1px solid red; */
  position: absolute;
  left: 50%;
  /* margin-left: 100px; */
}

.song-options {
  /* border: 1px solid red; */
  padding-top: 25px;
  padding-left: 25px;
  padding: 25px;
}

.song-options i {
  font-size: 10px;
  /* color: white; */
  padding: 5px;
  margin: auto;
}

.similar-artists {
  /* border: 1px solid red; */
  height: 40%;
  width: 100%;
}

.similar-artists-content {
  /* border: 2px solid black; */
  height: 89%;
  margin-top: 15px;
}

.recently-played {
  /* border: 1px solid red; */
  height: 58%;
  width: 100%;
  margin-top: 20px;
}

.recently-played-content {
  /* border: 2px solid black; */
  margin-top: 15px;
  height: 92%;
}


/* ****************** */

@media (max-width: 1100px) {
  .main{
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    font-size: medium;
  }
  .bottom-player{
    width: 95%;
  }
  .aside{
    display: none;
  }


  .song{
    height: 70px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .song-info{
    width: 90%;
    height: auto;
  }
  .song-details{
    flex-direction: column;
  }

  .song-name{
    width: 100%;
    display: block;
    position: relative;
    left: auto;
    padding: 10px 0px 5px;
  }

  .song-list .song-artists{
    width: 100%;
    display: block;
    position: relative;
    left: auto;
  }

  .song-options{
    padding: 0px;
    text-align: right;
    
    padding-top: 10px;
    padding-right: 10px;

  }

  .song-options i{
    padding: 2px;
  }

}

@media (max-width:850px){
  .main{
    font-size: small;
  }

  .showcase-albums {
    height: 280px;
  }

  .album {
    height: 180px;
    width: 180px;
  }

  .release-image{
    width: 70px;
  }

  .release-option i:hover .release-menu {
    height: 65px;
    font-size: 10px;
    width: 120px;
  }

  .showcase-popular-artists {
    /* border: 1px solid red; */
    height: 200px;
  }

  .popular-artist {
    margin: 0px 10px;
    /* display: inline-block; */
    flex-shrink: 0;
    height: 120px;
    width: 120px;
  }

  .showcase-radio-stations {
    /* border: 1px solid red; */
    height: 200px;
  }

  .radio-stations-content {
    height: 160px;
  }

  .station{
    width: 170px;
  }

  .radio{
    width: 120px;
  }

  .genre {
    height: 160px;
    margin: 5px;
  }


  .bottom-player{
    font-size: small;
  }

  .player-controls{
    left: 35%;
  }
  
}

@media (max-width:620px) {
  .logo{
    margin: 0px;
  }
  .logo img{
    height: 50px;
  }

  .title{
    /* padding-left: 10px; */
    font-size: large;
  }

  .search-bar{
    width: 180px;
  }
  .search-box{
    font-size: 15px;
    padding: 2px 2px;
  }
  .profile-icon i {
    font-size: 20px;
  }
  .sign-out-icon i {
    font-size: 20px;
  }

  .profile-icon h6 {
    font-size: 8px;
  }
  .sign-out-icon h6 {
    font-size: 8px;
  }
  

  .main{
    padding-left: 10px;
    padding-right: 10px;
  }

  .release-image{
    width: 60px;
    height: 60px;
  }
  .release-option i:hover .release-menu {
    height: 55px;
    font-size: 8px;
    width: 120px;
  }
  .showcase-popular-artists {
    /* border: 1px solid red; */
    height: 200px;
  }

  .popular-artist {
    margin: 0px 10px;
    /* display: inline-block; */
    flex-shrink: 0;
    height: 120px;
    width: 120px;
  }

  .showcase-radio-stations {
    /* border: 1px solid red; */
    height: 200px;
  }

  .radio-stations-content {
    height: 160px;
  }

  .station{
    width: 170px;
  }

  .radio{
    width: 120px;
  }

  .genre {
    height: 160px;
    margin: 5px;
  }


  .bottom-player{
    width: 99.5%;
    left: 2px;
  }

  .song-playing{
    width: 150px;
  }

}

@media (max-width:500px) {

  .logo img{
    height: 30px;
  }

  .title{
    /* padding-left: 10px; */
    font-size: medium;
  }

  .search-bar{
    width: 100px;
  }
  .search-box{
    font-size: 15px;
    padding: 2px 2px;
  }
  .profile-icon i {
    font-size: 15px;
  }
  .sign-out-icon i {
    font-size: 15px;
  }
  .profile-icon h6 {
    font-size: 6px;
  }
  .sign-out-icon h6 {
    font-size: 6px;
  }


  .showcase-albums {
    height: 200px;
  }

  .album {
    height: 110px;
    width: 110px;
  }

  .release-image{
    width: 40px;
    /* height: 50px; */
  }

  .release-option i, .release-option p{
    padding-top: 10px;
    font-size: 10px;
    margin-top: 0px;
  }

  .release-option i:hover .release-menu {
    height: 60px;
    font-size: 8px;
    width: 120px;
  }

  .showcase-popular-artists {
    /* border: 1px solid red; */
    height: 150px;
  }

  .popular-artist {
    margin: 0px 10px;
    /* display: inline-block; */
    flex-shrink: 0;
    height: 80px;
    width: 80px;
  }

  .popular-artist p {
    font-size: x-small;
  }


  .showcase-radio-stations {
    /* border: 1px solid red; */
    height: 150px;
  }

  .radio-stations-content {
    height: 120px;
  }

  .station{
    width: 100px;
  }

  .radio{
    width: 80px;
  }
  .music-genres-content {
    justify-content: space-between;
  }

  .genre {
    height: 100px;
    margin: 5px;
  }



  .current-time, .bottom-player p, .album-content p, .song-duration{
    display: none;
  }

  .player-controls{
    left: 65%;
    width: 20%;
  }

  .player-controls i {
    font-size: 20px;
  }

  .player-controls .fa-circle-play, .player-controls .fa-circle-pause  {
    font-size: 35px;
  }

}

/* *{
  border: 1px solid red;
} */